ul { /*For all the text on top */
    list-style-type: none;
    margin: 0;
    padding: 0px 10px;
    overflow: hidden;
    background-color: #333;
    color: #F9C043;
}

#plot { 
    padding: 15px 10px;
    background-color: #4d4d4d;
    color: rgba(255, 255, 255, 0.814);
    text-decoration: underline 10px #F9C043;
}

#characters { 
    padding: 15px 10px;
    background-color: #4d4d4d;
    color: rgba(255, 255, 255, 0.814);
    text-decoration: underline 10px #F9C043;
}

#cast { 
    padding: 15px 10px;
    background-color: #4d4d4d;
    color: rgba(255, 255, 255, 0.814);
    text-decoration: underline 10px #F9C043;  
}

#reviews { 
    padding: 15px 10px;
    background-color: #4d4d4d;
    color: rgba(255, 255, 255, 0.814);
    text-decoration: underline 10px #F9C043;  
}

li h1{ /*places the game title to the top left */
  float: left;
}

li a { /*for the links on the top right*/
    display: block;
    color: white;
    padding: 34px 15px;
    text-decoration: none;
    float: right;
}

body {
  background-color: rgb( 224, 224, 187);
}